div {
  height: 50px;
  width: 120px;
  border: #6495ed;
  background-color: #69D2E7;
  border-radius: 100%;
  margin: auto;
  text-align: center;
}

a {
  text-decoration: none;
  color:#fff;
  font-family: Verdana, Arial, Sans-Serif;
}
