.main {
  text-align: center;
  background: url("http://i.imgur.com/S2nuYY3.jpg") no-repeat center center;
  background-size: cover;
  height: 800px;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

h1, a {
  font-family:'Oswald', sans-serif;
  text-transform: uppercase;
}

.main h1 {
  color:#fff;
  margin: 0;
  font-size: 70px;
}

.main .container {
  position: relative;
  top: 100px;
}
.main p {
  font-family: Helvetica;
  color:#fff;
  margin: 0 0 20px 0;
  font-size: 30px;
}



.wrapper {
  width: 600px;
  margin: 0 auto;
}

.circle {
  height: 100px;
  width: 100px;
  line-height: 100px;
  border-radius: 50px;
  border: #6495ed;
  background-color: #69D2E7;
  margin: 30px 15px 15px 30px;
  text-align: center;
  display: inline-block
} 

.circle:first-child {
  margin-left: 0px;
}

.circle:last-child: {
  margin-right: 0px;
}

    

